@import url('./fonts.css');

$color-green: #00eb8b;
$color-red: #F06292;
$color-yellow: #FDD835;
$color-grey: #8da2b5;
$color-accent: #9b59b6;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$border-radius: 4px;

html {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: $font-weight-regular;
}

body {
    padding: 1rem;
    background-color: #fff;
}

header {
    text-align: center;
    margin: 3rem 1rem;

    .wrapper {
        img {
            max-width: 100%;
        }
    }
}

.frame {
    border-radius: $border-radius;
    color: #131a26;
    border: 1px solid #E0E0E0;
    margin: 2rem 0;

    .row {
        padding: 2rem 1.5rem;
        border-bottom: 1px solid #e6e7e8;

        &:last-child {
            border-bottom: none;
        }
    }
}

.overall-status {
    color: white;

    &.green {
        background-color: $color-green;
        border-color: $color-green;
    }

    &.red {
        background-color: $color-red;
        border-color: $color-red;
    }

    .row {
        padding: 1rem 1.5rem;
        font-weight: $font-weight-medium;
    }
}

.monitors {
    .monitor {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 35px auto;
        row-gap: .5em;
        font-size: 14px;

        grid-template-areas:
            "name status"
            "uptime uptime"
            "timeline timeline";

        .name {
            grid-area: name;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 1rem;
            color: #637280;
            font-weight: $font-weight-medium;
        }

        .uptime {
            grid-area: uptime;
            flex: 1;
            display: flex;
            align-items: stretch;

            .indicator {
                height: 100%;
                flex: 1;
                background-color: #ECF0F1;
                margin: 0 2px;

                &.red {
                    background-color: $color-red;
                }

                &.green {
                    background-color: $color-green;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    background-color: $color-accent;
                }
            }
        }

        .status {
            grid-area: status;
            font-weight: $font-weight-medium;
            display: flex;
            align-items: center;

            $blob-size: .75rem;
            $blob-pulse-size: .5rem;

            &.up {
                color: $color-green;

                .blob {
                    background-color: $color-green;
                }
            }

            &.down {
                color: $color-red;

                .blob {
                    background-color: $color-red;
                    animation: pulse-red 2s infinite;

                    @keyframes pulse-red {
                        0% {
                            box-shadow: 0 0 0 0 rgba($color-red, 1);
                        }

                        70% {
                            box-shadow: 0 0 0 $blob-pulse-size rgba($color-red, .0);
                        }

                        100% {
                            box-shadow: 0 0 0 0 rgba($color-red, 0);
                        }
                    }
                }
            }

            &.failure {
                color: $color-yellow;

                .blob {
                    background-color: $color-yellow;
                    animation: pulse-yellow 2s infinite;

                    @keyframes pulse-yellow {
                        0% {
                            box-shadow: 0 0 0 0 rgba($color-yellow, 1);
                        }

                        70% {
                            box-shadow: 0 0 0 $blob-pulse-size rgba($color-yellow, 0);
                        }

                        100% {
                            box-shadow: 0 0 0 0 rgba($color-yellow, 0);
                        }
                    }
                }
            }

            .blob {
                border-radius: 50%;
                margin: $blob-pulse-size;
                height: $blob-size;
                width: $blob-size;
            }
        }


        .timeline {
            display: flex;
            grid-area: timeline;
            align-items: center;

            .time-past, .time-now {
                color: $color-grey;
                opacity: 0.5;
            }

            .time-past {
                text-align: left;
            }

            .time-now {
                text-align: right;
            }

            .line {
                flex: 1;
                height: 1px;
                margin: 0 1rem;
                background-color: $color-grey;
                opacity: 0.3;
            }
        }
    }
}



.tooltip {
    position: relative;
}

.tooltip::before {
    content: attr(tooltip);
    display: inline-block;
    position: absolute;
    bottom: 120%;
    background: #000;
    color: #fff;
    padding: .5rem;
    border-radius: $border-radius;
    opacity: 0;
    transition: 0.1s;
    overflow: hidden;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 1;
    min-width: 5rem;
    text-align: center;
}

.tooltip:hover::before {
    opacity: 1;
}