@import url("./fonts.css");
html {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

body {
  padding: 1rem;
  background-color: #fff; }

.frame {
  border-radius: 4px;
  color: #131a26;
  border: 1px solid #E0E0E0; }
  .frame .row {
    padding: 2rem 1.5rem;
    border-bottom: 1px solid #e6e7e8; }
    .frame .row.last-child {
      border-bottom: none; }

.monitors .monitor {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 35px auto;
  row-gap: .5em;
  font-size: 14px;
  grid-template-areas: "name status" "uptime uptime" "timeline timeline"; }
  .monitors .monitor .name {
    grid-area: name;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1rem;
    color: #637280;
    font-weight: 500; }
  .monitors .monitor .uptime {
    grid-area: uptime;
    flex: 1;
    display: flex;
    align-items: stretch; }
    .monitors .monitor .uptime .indicator {
      height: 100%;
      flex: 1;
      background-color: #ECF0F1;
      margin: 0 2px; }
      .monitors .monitor .uptime .indicator.red {
        background-color: #F06292; }
      .monitors .monitor .uptime .indicator.green {
        background-color: #00eb8b; }
      .monitors .monitor .uptime .indicator:first-child {
        margin-left: 0; }
      .monitors .monitor .uptime .indicator:last-child {
        margin-right: 0; }
  .monitors .monitor .status {
    grid-area: status; }
    .monitors .monitor .status.up {
      color: #00eb8b; }
    .monitors .monitor .status.down {
      color: #F06292; }
    .monitors .monitor .status.failure {
      color: #FDD835; }
  .monitors .monitor .timeline {
    display: flex;
    grid-area: timeline;
    align-items: center; }
    .monitors .monitor .timeline .time-past, .monitors .monitor .timeline .time-now {
      color: #8da2b5;
      opacity: 0.5; }
    .monitors .monitor .timeline .time-past {
      text-align: left; }
    .monitors .monitor .timeline .time-now {
      text-align: right; }
    .monitors .monitor .timeline .line {
      flex: 1;
      height: 1px;
      margin: 0 1rem;
      background-color: #8da2b5;
      opacity: 0.3; }
